/* colours */
/* screen */
body {
  margin: 0;
  width: 100vw;
  font-family: "Lato", sans-serif;
}

.pages {
  min-height: 90vh;
}
.pages .card {
  border: 1px solid #cdcdcd;
  box-shadow: 0 0;
  margin: 0;
  padding: 7px;
}

.home-page {
  background-color: #DAE0E6;
  padding: 20px 150px 0 150px;
}
@media (max-width: 960px) {
  .home-page {
    padding-left: 20px;
    padding-right: 20px;
  }
  .home-page .main-nav {
    width: 100%;
  }
  .home-page .side-nav {
    display: none;
  }
}
@media (max-width: 640px) {
  .home-page {
    padding: 0;
  }
  .home-page .card {
    border-radius: 1px;
  }
}

.user-page {
  background-color: #DAE0E6;
}

.submit-page {
  background-color: #DAE0E6;
  padding: 40px 90px;
}
.submit-page .card {
  border: none;
  padding: 0;
}
.submit-page .form-input .header {
  font-size: 17px;
  font-weight: bold;
}
.submit-page .form-input .draft-btn {
  font-weight: bold;
  font-size: 13px;
}
.submit-page .form-input .draft-btn:hover {
  background-color: lightgray;
  border-radius: 30px;
  padding: 5px 15px;
}
.submit-page .form-input .draft-btn .badge {
  margin-left: 5px;
  background-color: gray;
  color: white;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 12px;
}
.submit-page .form-input .divider {
  background-color: #eaeaea;
  margin-bottom: 20px;
}
.submit-page .form-input .choose-community-btn {
  text-transform: inherit;
  background-color: #FFFFFF;
  color: gray;
  width: 300px;
  padding: 10px;
}
.submit-page .form-input .choose-community-btn:hover {
  background-color: #FFFFFF;
}
.submit-page .form-input .choose-community-btn .text {
  color: #000;
  font-size: 14px;
  flex-basis: 250px;
  text-align: left;
}
.submit-page .form-input .title-box {
  outline-color: lightgray;
}
.submit-page .form-input .title-box:hover {
  outline-color: black;
}
.submit-page .form-input .btn-container {
  margin-top: -15px;
}
.submit-page .form-input .btn-container .btn {
  border-radius: 30px;
  font-weight: bold;
  text-transform: inherit;
  color: grey;
  border-color: grey;
}
.submit-page .form-input .btn-container .btn:hover {
  background-color: #f6f7f8;
}
.submit-page .form-input .btn-container2 {
  display: flex;
  justify-content: flex-end;
}
.submit-page .form-input .btn-container2 .btn {
  border-radius: 30px;
  font-weight: bold;
  text-transform: inherit;
}
.submit-page .form-input .footer {
  background-color: #f6f7f8;
}
.submit-page .form-input .footer .checkbox-input {
  width: fit-content;
}
.submit-page .form-input .footer .checkbox-input .checkbox:hover {
  background-color: #fff;
}
.submit-page .form-input .footer .connect-accounts {
  font-weight: bold;
  color: #2196f3;
  font-size: 13px;
}
.submit-page .form-input .footer .connect-accounts:hover {
  text-decoration: underline;
  cursor: pointer;
}
.submit-page .form-input .footer .connect-accounts-icon {
  color: gray;
  margin-bottom: -7px;
}
.submit-page .form-input .add-option-btn {
  font-weight: bold;
  text-transform: inherit;
}
.submit-page .form-input .add-option-btn:hover {
  border-radius: 30px;
}
.submit-page .form-input .days-btn {
  text-transform: inherit;
  color: gray;
}
.submit-page .form-input .days-btn:hover {
  background-color: inherit;
}
.submit-page .rules {
  margin-top: 25px;
}
.submit-page .rules img {
  width: 50px;
}
.submit-page .rules .header {
  font-weight: bold;
  font-size: 15px;
  margin-top: 17px;
  margin-left: 5px;
}
.submit-page .rules .list-item {
  font-size: 15px;
}
.submit-page .rules .notes {
  font-size: 12px;
  font-weight: bold;
  margin-top: 15px;
  color: gray;
}
.submit-page .rules .notes span {
  color: #2196f3;
  cursor: pointer;
}

.navbar {
  padding: 4px 10px;
  background-color: #FFFFFF;
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar .navigation {
  margin-top: 2px;
}
.navbar .navigation .link {
  text-decoration: none;
  color: inherit;
}
.navbar .navigation .link .logo {
  content: url("./assets/reddit-logo-new.png");
  width: 92px;
  height: auto;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 2px;
}
.navbar .navigation .dropdown-btn {
  width: 320px;
  padding-left: 8px;
  padding-right: 10px;
  font-weight: 500;
}
.navbar .navigation .dropdown-btn .navigation-text {
  flex-basis: 190px;
  text-align: left;
}
.navbar .search {
  padding-right: 25px;
  width: 400px;
  min-width: 70px;
}
.navbar .search .search-bar {
  background-color: #f6f7f8;
  border-radius: 30px;
  padding: 5px 15px;
  font-size: 14px;
  width: 100%;
  margin-left: 15px;
  margin-right: 0px;
}
.navbar .search .search-bar:hover {
  border: 1px solid #2196f3;
  background-color: inherit;
}
.navbar .dropdown-btn {
  color: #000;
  text-transform: none;
}
.navbar .dropdown-btn:hover {
  border: 1px solid #DAE0E6;
  background-color: #FFFFFF;
}
.navbar .navbar-icon {
  border-radius: 3px;
  padding: 5px;
  margin-right: 8px;
}
.navbar .vertical-bar {
  font-size: 20px;
  color: #DAE0E6;
  margin-right: 3px;
}
.navbar .navbar-icon2 {
  background-color: #f6f7f8;
  padding-left: 8px;
  margin-right: 10px;
}
.navbar .navbar-icon2:hover {
  background-color: #DAE0E6;
}
.navbar .user-container {
  margin-top: 2px;
  padding: 0;
  font-size: 11px;
  max-width: 180px;
}
.navbar .user-container .user-text {
  flex-basis: 150px;
  text-align: left;
}
.navbar .user-container .user-text .karma {
  color: grey;
}
@media (max-width: 1200px) {
  .navbar .user-container .user-text {
    display: none;
  }
}
@media (max-width: 960px) {
  .navbar .navigation .link .logo {
    content: url("./assets/reddit-logo.png");
    width: 32px;
    height: auto;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 2px;
  }
  .navbar .navigation .dropdown-btn {
    width: fit-content;
  }
  .navbar .navigation .dropdown-btn .navigation-text {
    display: none;
  }
}
@media (max-width: 780px) {
  .navbar .hidden-btn {
    display: none;
  }
}

.createPost .card .form-control {
  width: 100%;
}
.createPost .card .form-control .card-input {
  background-color: #f6f7f8;
  padding: 5px 15px;
  font-size: 14px;
  margin: 0 0 0 5px;
  border-radius: 3px;
  border: 1px solid #DAE0E6;
}
.createPost .card .form-control .card-input:hover {
  border: 1px solid #2196f3;
  background-color: #FFFFFF;
}
.createPost .card .btn-container {
  float: right;
}
.createPost .card .btn-container .card-btn {
  border-radius: 3px;
}
.createPost .card .btn-container .card-btn:last-child {
  margin-left: 5px;
}

.sortAndLayout .card {
  padding: 8px 13px;
}
.sortAndLayout .card .card-btn {
  text-transform: inherit;
  font-weight: bold;
  color: gray;
  padding: 5px 10px;
  font-size: 14px;
}
.sortAndLayout .card .card-btn-active {
  color: #2196f3;
  text-transform: inherit;
  background-color: #f6f7f8;
  border-radius: 30px;
  font-weight: bold;
  padding: 5px 10px;
}
.sortAndLayout .card .card-btn2 {
  float: right;
  color: gray;
}
.sortAndLayout .card .card-btn:hover, .sortAndLayout .card .card-btn2:hover {
  background-color: #f6f7f8;
  border-radius: 30px;
}

.premium-component .card {
  padding: 10px 12px 7px 12px;
}
.premium-component .card .shield-icon {
  margin-top: 10px;
  margin-right: 5px;
}
.premium-component .card .theme-color {
  color: #ff3d00;
}
.premium-component .card .theme-bgcolor {
  background-color: #ff3d00;
}
.premium-component .card .text {
  font-size: 12px;
}
.premium-component .card .text .header {
  font-weight: bold;
  margin-bottom: 5px;
}
.premium-component .card .premium-btn {
  width: 100%;
  border-radius: 30px;
  font-weight: bold;
}

.home-info-component .card {
  padding: 0;
}
.home-info-component .card .header {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}
.home-info-component .card .divider {
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 5px;
}
.home-info-component .card .btn-container {
  padding: 12px;
}
.home-info-component .card .btn-container .home-info-btn {
  border-radius: 30px;
  width: 100%;
  font-weight: bold;
}

.site-info-component {
  font-size: 13px;
}
.site-info-component .container {
  margin: 4px 5px 10px 5px;
}
.site-info-component .container .link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  margin-bottom: 3px;
}
.site-info-component .divider {
  margin-left: 5px;
  margin-right: 5px;
}

.post-component .link {
  text-decoration: none;
  color: inherit;
}
.post-component .card {
  padding: 0;
}
.post-component .card:hover {
  border: 1px solid gray;
}
.post-component .card .vote {
  background-color: #f6f7f8;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 5px;
}
.post-component .card .vote .likes {
  margin-bottom: 5px;
  font-weight: 900;
  font-size: 14px;
}
.post-component .card .vote .vote-icon:hover {
  background-color: #dadada;
  color: #ff3d00;
}
.post-component .card .content .community-avatar {
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -5px;
}
.post-component .card .content .post-info {
  margin-top: -13px;
}
.post-component .card .content .post-info .community-name {
  font-weight: bold;
  font-size: 12px;
}
.post-component .card .content .post-info .username, .post-component .card .content .post-info .time {
  font-size: 12px;
  color: gray;
}
.post-component .card .content .header {
  font-weight: bold;
  font-size: 17px;
  margin-left: -10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.post-component .card .content .post-img {
  margin-bottom: -15px;
}
.post-component .card .content .btn-container {
  padding: 0 3px;
  z-index: 2;
}
.post-component .card .content .btn-container .post-btn {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 12px;
  color: gray;
  margin: 0;
}
.post-component .card .content .btn-container .post-btn:hover {
  background-color: lightgray;
  border-radius: 2px;
}
.post-component .card .content .btn-container .post-btn2:hover {
  background-color: lightgray;
}

@media (max-width: 640px) {
  .vote {
    display: none;
  }
}
.recent-posts-component .card .header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  padding: 0 3px;
}
.recent-posts-component .card .list {
  padding: 0;
}
.recent-posts-component .card .list .list-item {
  padding: 0;
}
.recent-posts-component .card .list .list-item .link {
  text-decoration: none;
}
.recent-posts-component .card .list .list-item .link:hover .header2 {
  text-decoration: underline;
}
.recent-posts-component .card .list .card {
  margin: 8px 0;
  padding: 5px 0;
  width: 100%;
  border: none;
}
.recent-posts-component .card .list .card img {
  border-radius: 3px;
  width: 75px;
  height: 50px;
}
.recent-posts-component .card .list .card .header2 {
  font-weight: bold;
  font-size: 14px;
}
.recent-posts-component .card .list .card .list-info {
  font-size: 12px;
  color: gray;
}
.recent-posts-component .card .clear-btn {
  color: gray;
  text-transform: inherit;
  font-size: 11px;
  width: 100%;
  padding: 0;
  padding-right: 5px;
}
.recent-posts-component .card .clear-btn:hover {
  background-color: inherit;
}
.recent-posts-component .card .clear-btn .clear-btn-text {
  text-align: right;
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
